[submodule "fountainThreeJS"]
	path = fountainThreeJS
	url = https://github.com/hecmocer-pro/fountainThreeJS.git
[submodule "3d-portfolio"]
	path = 3d-portfolio
	url = https://github.com/hecmocer-pro/3d-portfolio.git
[submodule "DailyQuests"]
	path = DailyQuests
	url = https://github.com/hecmocer-pro/DailyQuests.git
[submodule "RankedGamingSeasons"]
	path = RankedGamingSeasons
	url = https://github.com/hecmocer-pro/RankedGamingSeasons.git
[submodule "NBBA-clock"]
	path = NBBA-clock
	url = https://github.com/hecmocer-pro/NBBA-clock.git
[submodule "NBBA"]
	path = NBBA
	url = https://github.com/hecmocer-pro/NBBA-clock.git
[submodule "creativity-boost"]
	path = creativity-boost
	url = https://github.com/hecmocer-pro/creativity-boost.git
