body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  overflow: auto;
}

.banner {
  height: 15vh;
  width: 100%;
  background-color: black;
  transition: height 1s ease-out;
}

.separator {
  height: 320px;
  width: 4px;
  background-color: black;
  border-radius: 2px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
  padding: 32px 0;
}

.content>* {
  transition: transform 1s ease-out;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.text {
  margin: 0 40px;
  width: 300px;
  opacity: 0;
  transition: opacity 1s ease-out 0.7s;
}

.text>* {
  margin: 24px 0;
}

.content>*:first-child {
  transform: translate(calc(100% - 2px), -120px);
}

.content>*:last-child {
  transform: translate(calc(-100% + 2px), 120px);
  text-align: end;
}

.content.post-animation>*:first-child {
  transform: translate(0, -120px);
}

.content.post-animation>*:last-child {
  transform: translate(0, 120px);
}

.content.post-animation .text {
  opacity: 1;
}

.main-text-container {
  display: flex;
  align-items: end;
  border-radius: 5px;
  margin-bottom: 12px;
}

.main-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 68px;
  margin: 0;
  color: white;
  letter-spacing: -1px;
  margin-left: 8px;
  margin-bottom: -12px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.secondary-text {
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: 3px;
}

.logo {
  width: 120px;
  object-fit: cover;
}

.text-top {
  width: auto;
}

.text-bottom {}

.mini-logo {
  height: 32px;
  width: auto;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  padding: 0 2px;
}

.links-container {
  margin-bottom: 0;
}

.logo-linkedin:hover,
.logo-github:hover,
.logo-twitter:hover,
.logo-instagram:hover {
  fill: #0000EE;
  transform: scale(1.1);
}

.logo-gmail:hover {
  stroke: #0000EE;
  transform: scale(1.1);
}

.tertiary-text:first-child {
  margin-top: 0;
}

.tertiary-text:last-child {
  margin-bottom: 0;
}

.icon-subdivision {
  display: inline;
}

@media only screen and (max-width: 900px) {
  .container {
    align-items: normal;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 720px;
    margin: 0 16px;
  }

  .content>*:last-child {
    justify-content: end;
  }

  .banner {
    height: 4vh;
    transition: height 0s ease-out;
  }

  .content>*:first-child {
    transform: translate(calc(50% - 2px), 0)
  }

  .content>*:last-child {
    transform: translate(calc(-50% + 2px), 0)
  }

  .content.post-animation>*:first-child {
    transform: translate(0, 0);
  }

  .content.post-animation>*:last-child {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 500px) {
  .main-text {
    display: none;
  }

  .text {
    margin: 0 16px;
  }
}

@media only screen and (max-width: 290px) {
  .ultra-sm {
    display: none;
  }

  .icon-subdivision {
    display: block;
  }
}