body {
  margin: 0;
  font-family: 'verdana', sans-serif;
  font-family: 'montserrat', sans-serif;
  --webkit-font-smoothing: antialiased;
  background-color: #03a9f42b;
  border: solid 1px black;
}
h1 {
  padding: 0;
}
h2 {
  padding: 0;
}
/* LANDING */
.landing {
  /* background-color: #eee; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: black;
}
.landing section {
  height: 100%;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: #dd2b3b;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing h2 {
  position: relative;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 20px 50px 200px black;
  color: black;
  border-radius: 2px;
  letter-spacing: -1px;
  line-height: 1.5;
  position: sticky;
  top: 5%;
}
.landing strong {
  font-size: 32px;
  letter-spacing: 0;
}
.landing h3 {
  padding-left: 10px;
  position: relative;
  color: white;
  z-index: 1;
  letter-spacing: 3px;
}
.landing .text {
  margin: 0 auto 0 55%;
  position: sticky;
  top: 5%;
}
.landing .separation {
  font-size: 20px;
}
/* EXPERIENCE */
.experience {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  color: black;
}
.experience .sticky {
  height: 30px;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: palegreen;
  top: 0;
  color: black;
  z-index: 1;
}
.experience section {
  height: 90vh;
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}
.experience section::before {
  content: '';
  background-color: #000;
  box-shadow: 0 0 0 1px #eeeeee66;
  width: 5px;
  position: relative;
  display: inline-block;
  height: 100%;
  top: 0;
  left: 100px;
}
.experience section:first-of-type::before {
  top: 20%;
  height: 80%;
}
.experience .jll {
  background-color: #5c7491;
  background-position: 53% 20%;
}
.experience .wombat {
  background-color: #f88037;
  background-position: 50% 10%;
}
.experience .composer {
  background-color: #789e47;
  background-position: 70% 70%;
}
.experience .shap {
  background-color: #b69583;
  background-position: 50% 55%;
}
.experience .babel {
  background-color: #6996c0;
  background-position: 65% 90%;
}
.experience .erasmus {
  background-color: #343f46;
  background-position: 50% 30%;
}
.experience .upm {
  background-color: #bbc4d5;
  background-position: 55% 0%;
}
.experience .jll h3 {
  color: #000;
}
.experience .wombat h3 {
  color: #000;
}
.experience .composer h3 {
  color: #000;
}
.experience .erasmus h3 {
  color: #333;
}
.experience .section-content {
  position: relative;
  left: 100px;
  padding: 26vh 20px 0 50px;
  height: 64vh;
  z-index: 0;
  width: 320px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  transition: opacity 0.6s;
}
.experience section:first-of-type .section-content {
  padding: 7vh 20px 0 50px;
  top: 18vh;
  height: 65vh;
}
.experience .section-content::before{
  content: '';
  background-color: rgba(255,255,255,1);
  opacity: 0.7;
  width: 120%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.experience section:first-of-type .section-content::before{
  border-radius: 0 40px 0 0;
}
.experience h2::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: black;
  height: 20px;
  width: 20px;
  left: -12px;
  margin-top: 5px;
}
.experience h3 {
  color: #444;
}
.experience h2 {
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  max-width: fit-content;
  padding: 5px 10px;
}
.experience h4 {
  padding-top: 10px;
}
.experience h5 {
  font-size: 16px;
  margin: 0;
}

/* MORE */
.more {
  width: 100%;
  background-color: #eee;
  color: black;
  min-height: 100vh;
  overflow-x: hidden;
}
.more section {
  width: 100%;
  padding: 20px 0 5px 150px;
}
.more section:first-of-type {
  padding-top: 80px;
}
.more section:last-of-type {
  padding-bottom: 80px;
}
.more li {
  padding-top: 10px;
}
.more h2 {
  word-spacing: 3px;
}
.more .custom-bullet-list {
  padding-left: 15px;
  list-style-type: none;
}
.more .custom-bullet-list li {
  display: flex;
  align-items: flex-end;
}
.more .custom-bullet-list svg {
  padding-right: 10px;
}
.more .reach-me {
  text-shadow: 2px 2px 1px yellow;
}
@media (max-width: 400px) {
  .mediaHiddenXS {
    display: none;
  }
  .landing h2 {
    font-size: 12px;
  }
  .landing strong {
    font-size: 20px;
  }
  .experience h2 {
    font-size: 1.25em;
    width: 60%;
  }
  .experience h4 {
    font-size: 14px;
  }
  .experience h5 {
    font-size: 15px;
  }
  .experience .project {
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .mediaHiddenSM {
    display: none;
  }
  .thisIsABadPractice {
    width: 250px;
  }
  .landing .text {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
  }
  .landing h3 {
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing .landing-item {
    display: block;
  }
  .experience .section-content {
    left: 50px;
  }
  .experience section::before {
    left: 20px;
  }
  .experience h2::before {
    left: -42px;
  }
  .more section {
    padding-left: 20px;
  }
  .experience .section-content {
    width: 80%;
    padding: 10vh 0 16vh 0;
  }
  .experience section:first-of-type .section-content {
    padding-left: 0;
    padding-right: 0;
    width: 80%;
  }
  .experience .section-content::before {
    left: -30px;
    width: 90%;
  }
  .experience h4 {
    width: 70%;
    margin-right: 0;
  }
}